<h1>Student Name: <%= @student.name %></h1>

<h2>Student Ducks:</h2>

<ul>
	<% unless @student.ducks.empty? %>
		<% @student.ducks.each do |duck| %>
			<li><%= duck.name %></li>
		<% end %>
	<% else %>
		<li>This student has no ducks!</li>
	<% end %>
</ul>